:root {
  --bg0: #ffffff;
  --bg1: #f4f4f5;
  --bg2: #d5d5d8;

  --fg0: #000000;
  --fg1: #231f37;
  --fg2: #545260;

  --border: #e2e2e4;
  --border-dark: #c8c9cc;

  --primary: #5546a3;
  --active: #466fa3;
  --success: #46a368;
  --error: #F56C6C;
  --warning: #e49400;

  --page-bg: var(--bg1);
  --page-fg: var(--fg1);

  --card-bg: var(--bg0);
  --card-fg: var(--page-fg);
  --card-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);

  --aside-width: 16rem;
}

$text: #303133;
$text2: #606266;
$text3: #909399;
$border1: #dcdfe6;
$border2: #ebe7ed;
$border3: #ebeef5;
$border4: #f2f6fc;
$default: #2477ff;
$success: #2d8515;
$error: #F56C6C;
$warning: #e49400;

// color schemes
$activeColor: #7fffd4;
$accentColor: #409eff;
$warningColor: #f56c6c;
$successColor: #67c23a;
$borderColor: #040620;

$tableBdColor: #dfe2e5;

// transparent
$tpColor1: #c0c4cc80;
$tpColor2: #c0c4ccb0;
$tpColor3: #c0c4cc;
$tpFgColor1: #e4e7ed60;
$tpFgColor2: #e4e7ed90;
$tpFgColor3: #f2f6fcc0;
$tpFgColor4: #f2f6fc;
$tpFgColor5: #f5f8fd;
$tpBgColor0: transparent;
$tpBgColor1: #fff2;
$tpBgColor2: #fff4;
$tpBorderColor1: #dcdfe640;
$tpBorderColor2: #dcdfe680;
$tpBorderColor3: #dcdfe6;
$tpInsetColor: #0004;

// breakpoints
$bp_lg: 1440px;
$bp_md: 1024px;
$bp_sm: 768px;
$bp_xs: 480px;

$sidebarWidth: 16rem;
