bin
lib
dist
temp
.koishi
.temp
.cache
.data

tsconfig.temp.json

/community
/external
/addons
/coverage
/docs
/shiki
/test
/.yalc

todo.md
yarn.lock
yalc.lock
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
tsconfig.tsbuildinfo
report.*.json

.eslintcache
.DS_Store
.idea
.vscode
.yarn
*.suo
*.ntvs*
*.njsproj
*.sln
