dist
temp

/docs
/bots
/coverage
/plugins
/tsconfig.extend.json

todo.md
yarn.lock
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
.vscode
.yarn
*.suo
*.ntvs*
*.njsproj
*.sln
