html {
  --c-menu-bg: #ffffff;
  --c-menu-fg: #383838;
  --c-menu-hover-bg: #e8e8e8;
  --c-menu-hover-fg: #24292e;
  --c-menu-active-bg: #e8e8e8;
  --c-menu-active-fg: #24292e;
  --c-menu-separator: #b0b0b0;
  --c-menu-disabled: #bababa;
  --c-menu-shadow: 0 2px 8px #888888;
}

html.dark {
  --c-menu-bg: #2d2f31;
  --c-menu-fg: #bbbbbb;
  --c-menu-hover-bg: #3A3A3A;
  --c-menu-hover-fg: #e1e4e8;
  --c-menu-active-bg: #3A3A3A;
  --c-menu-active-fg: #e1e4e8;
  --c-menu-separator: #888888;
  --c-menu-disabled: #777777;
  --c-menu-shadow: 2px 3px 3px #000000;
}
