$text: #303133;
$text2: #606266;
$text3: #909399;
$border1: #dcdfe6;
$border2: #ebe7ed;
$border3: #ebeef5;
$border4: #f2f6fc;
$default: #409eff;
$success: #67c23a;
$error: #F56C6C;
$warning: #E6A23C;

// color schemes
$activeColor: #7fffd4;
$accentColor: #409eff;
$warningColor: #f56c6c;
$successColor: #67c23a;
$borderColor: #eaecef;

$tableBdColor: #dfe2e5;

// transparent
$tpColor1: #c0c4cc80;
$tpColor2: #c0c4ccb0;
$tpColor3: #c0c4cc;
$tpFgColor1: #e4e7ed60;
$tpFgColor2: #e4e7ed90;
$tpFgColor3: #f2f6fcc0;
$tpFgColor4: #f2f6fc;
$tpFgColor5: #f5f8fd;
$tpBgColor0: transparent;
$tpBgColor1: #fff2;
$tpBgColor2: #fff4;
$tpBorderColor1: #dcdfe640;
$tpBorderColor2: #dcdfe680;
$tpBorderColor3: #dcdfe6;
$tpInsetColor: #0004;

// breakpoints
$bp_lg: 1440px;
$bp_md: 1024px;
$bp_sm: 768px;
$bp_xs: 480px;

$navbarHeight: 4rem;
$sidebarWidth: 16rem;
$mainPadding: 2rem;

a {
  color: $default;
  text-decoration: none;
}
