html {
  // brand colors
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;

  // text colors
  --c-text: #2c3e50;
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;
  --c-border-darker: #d7d7d7;
  --c-border-active: var(--c-brand);

  // input
  --c-input-inset: transparent;

  // chat
  --c-chat-hover: rgba(4, 4, 5, 0.2);
}

html.dark {
  // brand colors
  --c-brand: #3aa675;
  --c-brand-light: #349469;

  // background colors
  --c-bg: #22272e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-bg-lightest: #383b41;

  // text colors
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;
  --c-border-darker: #404349;

  // chat
  --c-chat-hover: rgba(4, 4, 5, 0.2);
}
