name: Build

on:
  push:
  pull_request:

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - id: cache
        name: Yarn Cache Dir
        run: echo "cache-dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - name: Restore Lockfile
        uses: actions/cache@v3
        with:
          path: yarn.lock
          key: yarn-lock-${{ github.sha }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.cache.outputs.cache-dir }}
          key: yarn-cache-${{ github.sha }}-node-22
      - name: Install
        run: yarn --no-immutable

    outputs:
      cache-dir: ${{ steps.cache.outputs.cache-dir }}

  build:
    runs-on: ubuntu-latest
    needs:
      - prepare

    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Restore Lockfile
        uses: actions/cache@v3
        with:
          path: yarn.lock
          key: yarn-lock-${{ github.sha }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ${{ needs.prepare.outputs.cache-dir }}
          key: yarn-cache-${{ github.sha }}-node-22
      - name: Install
        run: yarn --no-immutable
      - name: Build
        run: yarn build
      - name: Upload Packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: |
            packages
            plugins

  lint:
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs:
      - prepare

    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Restore Lockfile
        uses: actions/cache@v3
        with:
          path: yarn.lock
          key: yarn-lock-${{ github.sha }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ${{ needs.prepare.outputs.cache-dir }}
          key: yarn-cache-${{ github.sha }}-node-22
      - name: Install
        run: yarn --no-immutable
      - name: Lint
        run: yarn lint

  test:
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs:
      - prepare

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22]

    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Enable Corepack
        run: corepack enable
      - name: Restore Lockfile
        uses: actions/cache@v3
        with:
          path: yarn.lock
          key: yarn-lock-${{ github.sha }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ${{ needs.prepare.outputs.cache-dir }}
          key: yarn-cache-${{ github.sha }}-node-${{ matrix.node-version }}
          restore-keys: yarn-cache-${{ github.sha }}-node
      - name: Install
        run: yarn --no-immutable
      - name: Unit Test
        run: yarn test:json
      - name: Report Coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/coverage-final.json
          name: codecov
